@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(255, 245, 228, 1), white);
    font-family: "PT Sans Caption", sans-serif;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
}

.board:hover {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vh;
    max-width: 600px;
    max-height: 600px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 20px;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 12px;
    line-height: 20px;
    height: 30px;
    max-height: 30px;
    background: #fa9bcf;
    font-weight: 700;
    border: 2px solid #b0b5ed;
    border-radius: 0;
    color: #fff;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow;
    transition-duration: 150ms;
    margin-bottom: 20px;
}

button::hover {
    box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
}

.mode {
    margin-bottom: 20px;
}
.error {
    display: none;
}
